{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block title %}
    <title>Accueil</title>
    {% endblock %}
</head>

<body>
    <nav>
        <h1>TaskManager</h1>
        <div class="nav">
            <a href="{% url 'home' %}">Accueil</a>
            <a href="{% url 'create_task' %}">Créer une tâches</a>
            <a href="{% url 'home' %}">Voir toutes les tâches</a>
            <a href="{% url 'user_logout' %}">Se déconnecter</a>
            <a href="{% url 'user_signup' %}">S'inscrire</a>
            <a href="{% url 'user_login' %}">Se connecter</a>
        </div>
    </nav>
    <div class="blog">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>