{% extends 'base.html' %}

{% block content %}
  <h2>Task List</h2>
  <ul>
    {% if messages %}
        <!-- Parcourir chaque message flash -->
        {% for message in messages %}
            <!-- Vérifier si le message est un message de succès -->
            {% if message.tags == 'success' %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% for task in tasks %}
      <li>
        {{ task.title }}
        <ul>
          <li>Description: {{ task.description }}</li>
          <li>Creation Date: {{ task.creation_date }}</li>
          <li>Due Date: {{ task.due_date }}</li>
          <li>Completed: {% if task.completed %}Yes{% else %}No{% endif %}</li>
          <li><a href="{% url 'task:edit' task.id %}">Modifier</a></li>
          <li><a href="{% url 'task:delete' task.id %}">Supprimer</a></li>
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endblock %}