{% extends 'base.html' %}

{% block content %}
  <h2>Task List</h2>
  <ul>
    {% for task in tasks %}
      <li>
        {{ task.title }}
        <ul>
          <li>Description: {{ task.description }}</li>
          <li>Creation Date: {{ task.creation_date }}</li>
          <li>Due Date: {{ task.due_date }}</li>
          <li>Completed: {% if task.completed %}Yes{% else %}No{% endif %}</li>
        </ul>
        <button><a href="{% url 'delete_task' task.pk %}">Supprimer</a></button>
        <button><a href="{% url 'update_task' task.pk %}">Modifier</a></button>
      </li>
    {% endfor %}
  </ul>
{% endblock %}